<!DOCTYPE html>
<html> 
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Amazing Cars</title>
</head>
<body>
  <nav>

    <a href="/cars/Homepage">Home Page</a>

    <a href="/cars/new">Add Car</a>&nbsp;&nbsp;|&nbsp;&nbsp; 

 <a href="/cars">Car List</a>

    <% if (user) { %>
      <a href="/logout" class="login">LOG OUT</a>
    <% } else { %>
      <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
  </nav>
  