<%- include('./partials/header') %>
<link rel="stylesheet" href="/stylesheets/indexa.css">
<h1>Home Page</h1>
<h1> Of the Top Rated Toyota's</h1>
<img src="https://images.unsplash.com/photo-1559416523-140ddc3d238c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1751&q=80" class="cars">
<h2>
Welcome to the Toyota Blog! In this app, you will be able to see Toyota's from 95 till present day.
</h2>
<%- include('./partials/footer') %>