<%- include('./partials/header') %>
<link rel="stylesheet" href="/stylesheets/indexa.css">
<h1>Home Page</h1>
<h1> Of the Top Rated Toyota's</h1>
<img src="https://i.imgur.com/nPu3Go4.jpeg" class="cars">
<h2>
Welcome to the Toyota Blog! In this app, you will be able to see Toyota's from 95 till present day.

</h2>
<%- include('./partials/footer') %>