body {
  background-color: silver;
}

#show-page {
  padding-top: 10px;
  padding-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 25%;
  font-size: 22px;
  -webkit-text-stroke: .15vmin rgb(25, 191, 209);
}

.cars {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding-top: 20px;
}